/* Sliding to the left */
.slide-out-left {
  animation: slideOutLeft 0.2s forwards;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Sliding in from the right */
.slide-in-right {
  animation: slideInRight 0.2s forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Sliding out to the right */
.slide-out-right {
  animation: slideOutRight 0.2s forwards;
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Sliding in from the left */
.slide-in-left {
  animation: slideInLeft 0.2s forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.custom-grid .grid-item:nth-child(8n + 1),
.custom-grid .grid-item:nth-child(8n + 3),
.custom-grid .grid-item:nth-child(8n + 5),
.custom-grid .grid-item:nth-child(8n + 6) {
  grid-row: span 2;
}

body {
  margin: 10px;
  color: #374046;
  background-color: #374046;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.15em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
